@import url(reset.css);
@import url(fonts.css);

body {
    padding-left: 1vw;
    font-family: 'Montserrat-Regular';
    background-color: #f1f1f1;
    /* font-size: 15px; */
    font-size: calc(10px + 5 * (100vw - 320px) / 1600);
}

.wrapper {
    display: grid;
    grid-template-columns: max-content 2fr;
}

.logo {
    padding: 1vw 0;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo a {
    font-family: 'Montserrat-SemiBold';
    text-transform: uppercase;
}

.logo_img {
    margin-right: 0.5vw;
}

.logo_text_left {
    color: #000000;
}

.logo_text_right {
    color: #f70209;
}

.header_nav_list {
    padding: 1.5vw 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat-SemiBold';
}

/* Главный контент */

.main {
    padding: 2.5vw 0 4.5vw 0;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-color: #ffffff;
}

.container {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
}

.main_title {
    /* font-size: 20px; */
    font-family: 'Montserrat-SemiBold';
    font-size: calc(12px + 8 * (100vw - 320px) / 1600);
}

.section {
    margin-top: 4vw;
}

/* Секция "Состав работ" */

.section.scope_work,
.section.object_parameters,
.section.additional_factors,
.section.instrumental_tests {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: flex-start;
    column-gap: 3vw;
}

.section_title {
    overflow: hidden;
    /* font-size: 17px; */
    font-family: 'Montserrat-SemiBold';
    font-size: calc(9px + 8 * (100vw - 320px) / 1600);
}

.section_title::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1.5px;
    background-color: #000000;
    border-width: 0 1vw;
    margin-left: 0.5vw;
}

.section_title:after {
    margin-right: -100%;
}

.section_column.scope_work {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.section_column.scope_work > * {
    margin-bottom: 1vw;
}

.block_checkbox {
    width: max-content;
    padding: 0.8vw;
    border-radius: 1vw;
    background-color: #f1f1f1;
}

.labl_checkbox {
    padding: 0.8vw;
    display: flex;
    align-items: center;
    column-gap: 1vw;
    border-radius: 1vw;
    overflow-wrap: break-word;
    background-color: #f1f1f1;
}

.hidden_checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.labl_checkbox .checkbox {
    padding: 0.9vw;
    position: relative;
    border-radius: 3px;
    background-color: #ffffff;
}

.labl_checkbox .checkbox .checkmark {
    padding: 0.55vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background-color: #ffffff;
}

.labl_checkbox input:checked + .checkbox .checkmark {
    background-color: #666666;
}

/* Секция "Параметры объекта 1" */

.section.object_parameters .section_title {
    padding: 1vw 0;
}

.section_column.object_parameters_1 > * {
    margin-bottom: 1vw;
}

.section_row {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.section_row > * {
    flex-basis: 32%;
}

.inpt_data {
    padding: 1vw;
    outline: none;
    border-radius: 1vw;
    background-color: #f1f1f1;
}

.list_filters {
    display: flex;
    column-gap: 1vw;
}

.filter_switch_item {
    padding: 0.8vw 1.3vw;
    text-align: center;
    border-radius: 1vw;
    white-space: nowrap;
}

.filter_switch_item.active {
    background-color: #f1f1f1;
}

.filter_switch_item input {
    display: none;
}

.question_mark {
    width: 100%;
    margin-left: 0.5vw;
    position: relative;
    z-index: 5;
}

.img_question_mark:hover + .tooltip_text {
    display: block;
    opacity: 1;
}

.tooltip_text {
    width: 20vw;
    padding: 1vw;
    display: none;
    position: absolute;
    bottom: 380%;
    left: -200%;
    box-shadow: 0 0 0.5vw #999999;
    background-color: #ffffff;
    border-radius: 1vw;
    line-height: 1.8vw;
    font-size: calc(10px + 5 * (100vw - 320px) / 1600);
    z-index: 8;
}

.tooltip_text::before {
    content: '';
    position: absolute;
    top: 100.25%;
    left: 12%;
    border-top: 2.5vw solid #ffffff;
    border-right: 3.5vw solid transparent;
    z-index: 3;
}

.tooltip_text::after {
    content: '';
    position: absolute;
    top: 101%;
    left: 11%;
    border-top: 3vw solid #d0d0d0;
    border-right: 4vw solid transparent;
    filter: blur(0.3vw);
    z-index: 1;
}

/* Секция "Параметры объекта 2" */

.section.additional_factors .section_title {
    padding: 1vw 0;
}

.section_column.object_parameters_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3vw;
}

.section_column.object_parameters_2 .section_column p {
    font-family: 'Montserrat-SemiBold';
    margin-bottom: 1.5vw;
}

.section_column_content {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.section_column_content > * {
    width: 100%;
}

/* Секция "Дополнительные факторы" */

.section_column.additional_factors .section_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5vw;
}

.section_column.additional_factors .section_top .section_column:first-child {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    row-gap: 1vw;
}

.section_column.additional_factors .section_top .section_column:first-child > * {
    width: 100%;
}

.section_column.additional_factors .section_top .section_column:last-child {
    display: grid;
    align-items: center;
    grid-auto-rows: 1fr;
    grid-template-areas:
        '...'
        '...'
        '...'
        '...'
        '...'
        '...'
        '...'
        '...'
        '...'
        '...'
        'row11'
        'row12'
        '...'
        '...'
        '...'
        '...';
}

.section_column.additional_factors .section_top .section_column:last-child .list_filters:first-child {
    grid-area: row11;
}

.section_column.additional_factors .section_top .section_column:last-child .list_filters:last-child {
    grid-area: row12;
}

.section_column.additional_factors .section_bottom .list_inpt_data {
    width: max-content;
    margin-top: 3vw;
}

.section_column.additional_factors .section_bottom .list_inpt_data > * {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    column-gap: 5vw;
}

.section_column.additional_factors .section_bottom .list_inpt_data li .inpt_data {
    background-color: #f1f1f1;
}

.section_column.additional_factors .section_bottom .list_inpt_data li .inpt_data::-webkit-input-placeholder {
    font-family: 'Montserrat-Regular';
}

.block_checkbox_inner {
    display: flex;
}

/* Секция "Инструментальные испытания" */

.section_column.instrumental_tests {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4vw;
}

.item_inpt_data label {
    font-family: 'Montserrat-SemiBold';
}

.section_column_content h3 {
    margin-bottom: 1.5vw;
    font-family: 'Montserrat-SemiBold';
}

.section_column.instrumental_tests .section_column:first-child .section_column_content:last-child label {
    font-family: 'Montserrat-SemiBold';
}

.section_column.instrumental_tests .block_inpt_data > * {
    margin-bottom: 1.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4vw;
}

.section_column.instrumental_tests .section_column:first-child .section_column_content:nth-child(1),
.section_column.instrumental_tests .section_column:first-child .section_column_content:nth-child(2),
.section_column.instrumental_tests .section_column:first-child .section_column_content:nth-child(3),
.section_column.instrumental_tests .section_column:first-child .section_column_content:nth-child(4),
.section_column.instrumental_tests .section_column:first-child .section_column_content:nth-child(5),
.section_column.instrumental_tests .section_column:last-child .section_column_content:nth-child(1),
.section_column.instrumental_tests .section_column:last-child .section_column_content:nth-child(2),
.section_column.instrumental_tests .section_column:last-child .section_column_content:nth-child(3),
.section_column.instrumental_tests .section_column:last-child .section_column_content:nth-child(4) {
    margin-bottom: 2.5vw;
}

/* Подвал */

.footer_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer_left {
    padding: 2vw;
}

.list_inpt_data > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2vw;
}

.list_inpt_data > *:not(:last-child) {
    margin-bottom: 1vw;
}

.list_inpt_data li label {
    color: #000000;
}

.list_inpt_data li .inpt_data {
    font-family: 'Montserrat-SemiBold';
    color: #000000;
    background-color: #ffffff;
}

.list_inpt_data li .inpt_data::-webkit-input-placeholder {
    font-family: 'Montserrat-SemiBold';
    color: #000000;
}

.footer_right {
    padding: 2vw;
    border-radius: 1vw;
    background-color: #666666;
}

.footer_right_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_right_content > * {
    width: max-content;
}

.footer_row_title {
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    column-gap: 1.5vw;
}

.footer_subtitle,
.footer_main_title {
    color: #ffffff;
}

.footer_subtitle {
    /* font-size: 20px; */
    font-size: calc(12px + 8 * (100vw - 320px) / 1600);
}

.footer_main_title {
    /* font-size: 35px; */
    font-family: 'Montserrat-Bold';
    font-size: calc(18px + 17 * (100vw - 320px) / 1600);
}

.dropdown_menu {
    position: relative;
    z-index: 3;
}

.btn_download_estimate {
    padding: 0.8vw 2.5vw;
    border-radius: 1.5vw;
    background-color: #ffffff;
}

.ic_btn {
    margin-left: 0.3vw;
}

.sub_menu {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 1vw;
    padding: 4vw 0 1vw 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5vw;
    box-shadow: 0 0 0.4vw #999999;
    background-color: #ffffff;
    z-index: -1;
}

.sub_menu.show {
    display: flex;
}

.footer_bottom {
    padding-bottom: 8vw;
    background-color: #ffffff;
}
